@media (max-width: 480px) {
    .menu {
        display: flex;
        padding: 0 3em;
        justify-content: space-between;
    }

    .title {
        width: 70%;
        text-align: justify;
        margin-left: -1.5rem;
        font-size: 3rem;
    }

    .menu img {
        margin: 30px 5px 0 0;
        width: 80px;
        justify-self: end;
    }

    .intro {
        display: flex;
        flex-direction: column;
    }

    .intro .text {
        grid-row: 1/2;
        font-size: 1.6rem;
    }

    .intro img {
        width: 50%;
        z-index: -1;
    }

    #btnDiv {
        padding: 1.5rem;
        z-index: 1;
        width: 100%;
        margin-top: -6rem;
    }

    #btnWrite {
        width: 100%;
        padding: 1rem;
        font-size: 2rem;
        box-shadow: 2px -2px 20px #6420AA;
    }

    #btnWrite:active {
        background-color: blueviolet;
        border-radius: 1rem;
    }
}